<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved:
            </h2> 
            <ul>
            <% @users.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :user_name %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :user_height, "Height (in inches)" %>
        <%= f.number_field :height %>
    </div>

    <div class="field">
    <%= f.label :user_happiness, "How happy are you? (1-5 scale)" %>
    <%= f.number_field :happiness %>
    </div>

    <div class="field">
        <%= f.label :user_nausea, "How nauseous are you? (1-5 scale)" %>
        <%= f.number_field :nausea %>
    </div>

    <div class="field">
        <%= f.label :user_tickets, "How many dollars are in your pocket?" %>
        <%= f.number_field :tickets %>
    </div>

    <div class="field">
        <%= f.label :admin, "Checkbox if you are a theme park owner" %>
        <%= f.check_box :admin %>
    </div>
    
    <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>